* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100%;
  min-height: -webkit-fill-available;
  background-color: #020617;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  padding: 0;
}

body > * {
  padding-left: max(env(safe-area-inset-left), 10px);
  padding-right: max(env(safe-area-inset-right), 10px);
}

body > :first-child {
  padding-top: max(env(safe-area-inset-top), 10px);
}

body > :last-child {
  padding-bottom: max(env(safe-area-inset-bottom), 10px);
}

.commit-sha {
  max-width: 9ch;
  overflow: hidden;
  display: inline-flex;
  font-family: monospace;
}
