* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #020617;
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  right: env(safe-area-inset-right);
  bottom: env(safe-area-inset-bottom);
}

body {
  width: 100%;
  height: 100%;
  background-color: #020617;
  color: white;
  overflow: auto;
  padding: 10px;
}

body > * {
  padding: 0;
}

body > :first-child {
  padding: 0;
}

body > :last-child {
  padding: 0;
}

.commit-sha {
  max-width: 9ch;
  overflow: hidden;
  display: inline-flex;
  font-family: monospace;
}
