* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #020617;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #020617;
  color: white;
  overflow: hidden;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

#info {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  pointer-events: none;
}

body > * {
  padding: 0;
}

body > :first-child {
  padding: 0;
}

body > :last-child {
  padding: 0;
}

.commit-sha {
  max-width: 9ch;
  overflow: hidden;
  display: inline-flex;
  font-family: monospace;
}
